h1{
    color:aqua
}
p{
    font-style: italic;
    font-family: Arial;
    font-size: 20px;
}
.navbar{
    border:1px solid #000000;
    background-color:#333333;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
    padding: 10px;
}